html {
  height: 100%;
}
* {
  font-family: Courier,Courier New,Lucida Sans Typewriter,Lucida Typewriter,monospace;
  background-color: #000;
  color: #fff;
}
#demo,html {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
}
